<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UNSPLASH_API_KEY</key>
	<string>F3PPoNdaEA6HIP81f-zspIAbQMjNsPGVR_j-NFSbk7o</string>
	<key>GEMINI_API_KEY</key>
	<string>AIzaSyCuTfJlMP4O6acfH7fbu45ybYZ9PFSFexQ</string>
</dict>
</plist>
